/* Reset */
* {
    margin: 0;
    padding: 0;
    
}



/* Navigation Bar */
.navigation-bar {
    position: fixed;
    background-color: #ebeaea;
    display: flex;
    gap: 10px;
    padding: 15px 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%;
}

.navigation-bar a {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-weight: 500;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.navigation-bar a:hover {
    background-color: #d6d6d6;
    border-radius: 6px;
}

/* Home Section */
.home-section {
    width: 70%;
    height:80%;
    margin: 0px auto;
    padding: 0;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
/* Carousel container */
#carouselExampleFade {
    width: 100%;
    height:100%;
}

/* Carousel images */
#carouselExampleFade .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;     
    object-position: center;
    padding: 10px;
}
/* Products Section */
.products-section {
    width: 80%;
    margin: 60px auto;
    text-align: center;
}

.products-section h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #333;
}

.product-list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    justify-content: center;
    
}
/* Individual product item */
.product-item {
    display: flex;
    flex-direction: column;
    flex:1 1 30%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 250px;

}

.product-item img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-item h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.product-item p {
    font-size: 16px;
    color: #555;
}